@use 'variables' as *;
@use './mixins/font' as *;
@use './mixins/layout' as *;
@use './mixins/media' as *;
@use './mixins/reset' as *;
@use './mixins/support' as *;
@use './mixins/typography' as *;

@forward './mixins/font';
@forward './mixins/layout';
@forward './mixins/media';
@forward './mixins/reset';
@forward './mixins/support';
@forward './mixins/typography';

// --------------------------------------------------------

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include font-smoothing;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 26px;
  background-color: var(--color-white);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  transition: color var(--transition);
  color: var(--color-black);
  font-family: var(--font-roboto-slab);
  font-size: 40px;
  line-height: 50px;
  margin: 5px 0;

  @include media($small-lowest, down) {
    font-size: 34px;
    line-height: 44px;
  }
}

h2 {
  transition: color var(--transition);
  color: var(--color-black);
  font-family: var(--font-roboto-slab);
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  margin: 5px 0;
}

h3 {
  transition: color var(--transition);
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin: 5px 0;
}

p {
  transition: color var(--transition);
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 5px 0;
}

a {
  color: var(--color-black);
  font-family: var(--font-roboto);
  text-decoration: underline;
  transition: color var(--transition);
  cursor: pointer;
  @include hover {
    color: var(--color-blue);
  }
}

button {
  @include reset-button;
  cursor: pointer;
}

img {
  max-width: 100%;
}
