.caption {
  display: inline-block;
  color: var(--color-dark-gray);
  text-align: center;
  background-color: var(--color-extra-extra-light-gray);
  border-radius: var(--border-radius);
  padding: 7px 20px;
  font-size: 14px;
  line-height: 24px;
}
