.surnameContainer {
  h1 {
    margin-bottom: 30px;
  }

  .surnameBody {
    max-width: 700px;
    h2,
    h3,
    h4 {
      margin-bottom: -5px;
      margin-top: 30px;
      text-align: left;
    }

    p {
      margin: 16px 0;
      text-align: left;
    }

    em {
      font-style: italic;
      color: var(--color-light-gray);
    }

    img {
      width: 100%;
      display: block;
      margin: 30px auto 15px auto;
    }

    ul {
      text-align: left;
      list-style: none;
      padding: 0;
      li {
        padding: 6px 18px;
        position: relative;
        line-height: 23px;
        &:before {
          content: '';
          top: 17px;
          left: 0;
          width: 10px;
          height: 3px;
          border-radius: 4px;
          background-color: var(--color-light-gray);
          display: block;
          position: absolute;
          opacity: 0.7;
        }
      }
    }

    blockquote {
      color: var(--color-dark-gray);
      margin: 30px;
      width: calc(100% - 60px);
      padding: 10px 0;
      border-top: 1px solid var(--color-extra-light-gray);
      border-bottom: 1px solid var(--color-extra-light-gray);
      > p {
        color: var(--color-dark-gray);
      }
    }
  }

  .backLink {
    margin-bottom: 30px;
    svg {
      height: 20px;
      width: 20px;
      transform: rotate(180deg);
      position: relative;
      top: 4px;
      margin-right: 4px;
      path {
        transition: fill var((--transition));
        fill: var(--color-black);
      }
    }

    a {
      @include hover {
        svg {
          path {
            fill: var(--color-blue);
          }
        }
      }
    }
  }
}

.people {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 60px;

  svg,
  img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: var(--border-radius);
    position: relative;
    top: -3px;
  }

  a {
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid var(--color-light-gray);
    transition: color var(--transition), background-color var(--transition),
      border var(--transition);

    .personBirth {
      display: block;
      font-size: 12px;
      line-height: 22px;
      color: var(--color-light-gray);
      position: relative;
      top: -2px;
      text-wrap: nowrap;
    }

    .personName {
      display: block;
      font-size: 14px;
      line-height: 16px;
      text-wrap: nowrap;
    }

    @include hover {
      color: var(--color-blue);
      background-color: var(--color-extra-extra-light-gray);
      border-bottom: 1px solid var(--color-blue);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      position: relative;
      display: block;
      padding: 0;
      margin: 10px;
      width: 25%;

      @include media($medium, down) {
        width: calc(1 / 3 * 100% - 20px);
      }

      @include media($small, down) {
        width: calc(50% - 20px);
      }

      @include media($x-small-highest, down) {
        width: calc(100% - 20px);
      }
    }
  }
}
